<html>
<head>
<style>
    @page {
        size: a4 portrait;
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content;
            left: 50pt; width: 512pt; top: 50pt; height: 100pt;
        }
        @frame content_frame {          /* Content Frame */
            left: 50pt; width: 512pt; top: 140pt; height: 500pt;
            -pdf-frame-border: 2;
        }
        @frame footer_frame {           /* Another static Frame */
            -pdf-frame-content: footer_content;
            left: 50pt; width: 512pt; top: 570pt; height: 270pt;
        }
    }
</style>
</head>

<body>
    <!-- Content for Static Frame 'header_frame' -->
    <div id="header_content">
    	<table>
			<tr>
				<td>
					<span><h1>LAXMI STEEL</h1></span>
				</td>
				<td style="text-align: left;padding-left: 30pt;">
					<address>
					Near 132 KVA, Akole Bypass Road, Nashik-Pune Highway,<br>
					Gunjalwadi, Sangamner - 422 605, Dist. A'nagar,<br>
					Ph. 02425 - 220360, 226721<br>
					E-mail : sales@laxmisteelyard.com<br>
					Web : www.laxmisteelyard.com
					</address>
				</td>
			</tr>
		</table>
	<hr/>
    </div>

    <!-- Content for Static Frame 'footer_frame' -->
    <div id="footer_content">
    <table border="1">
	<tr style="padding-top: 5px;">
						<td style="text-align: left;padding-left: 5px;" colspan="3">
									VAT TIN No : 45343434<br/>

									CST TIN No : 54353543
						</td>
						<td style="text-align: center;padding-top: 0pt;">
							<table>
								<tr><td colspan="2"><b>TAX HEAD</b></td></tr>
								<tr><td style="text-align: left;padding-left: 5pt;">5% : </td><td style="text-align: right;padding-right: 5pt;">906.00</td></tr>
								<tr><td style="text-align: left;padding-left: 5pt;">12.5% : </td><td style="text-align: right;padding-right: 5pt;">0.00</td></tr>
							</table>
							 
						</td>
						<td colspan="2">
							<table style="line-height: 0;">
								<tr>
									<td style="text-align: left;padding-left: 5px;">Sub Total :</td><td style="text-align: right;padding-right: 5px;">Rs. 1200.00</td>
								<tr><td style="text-align: left;padding-left: 5px;">VAT Amt :</td><td style="text-align: right;padding-right: 5px;">Rs. 1200.00</td></tr>
								<tr><td style="text-align: left;padding-left: 5px;">Freight :</td><td style="text-align: right;padding-right: 5px;">Rs. 1200.00</td></tr>
								<tr><td style="text-align: left;padding-left: 5px;padding-bottom: 5px;">Round up :</td><td style="text-align: right;padding-right: 5px;padding-bottom: 5px;">Rs. 1200.00</td></tr>
							</table>
						</td>
					</tr>
					<tr style="padding-top: 5px;">
						<td colspan="4"></td>
						<td style="text-align: left;padding-left: 5px;">Total Amt</td>
						<td style="text-align: right;padding-right: 5px;">Rs. 1200.00</td>
					</tr>
	</table>
	<table>
		<tr>
			<td colspan="3" style="text-align: left;padding-top:30pt;padding-left: 10pt;">
				Receiver's Signature
			</td>
			<td colspan="3" style="text-align: right;padding-top:30pt;padding-right: 10pt;">
				For PRIME
			</td>
		</tr>
	</table>
    <hr/>
    <table> 
		<tr style="padding-top: 5px;padding-left: 5px;">
			<td>
				I hearby cirtify that my/our registration certificate under the maharashtra value I hearby cirtify that my/our registration certificate under the maharashtra value I hearby cirtify that my/our registration certificate under the maharashtra value I hearby cirtify that my/our registration certificate under the maharashtra value
			</td>
			<td>
				<table>
					<tr>
						<td colspan="2" style="text-align: center;background-color: gray;">
							<h3>RTGS/NEFT DETAILS</h3>
						</td>
					</tr>
					<tr>
						<td style="background-color: #D8D3D3;">Bank Name : ICICI Bank</td>
						<td style="background-color: #D8D3D3;">Bank A/C No : 989999999999999</td>
					</tr>
					<tr>
						<td style="background-color: #D8D3D3;">
							Branch : Sangamner
						</td>
						<td style="background-color: #D8D3D3;">
							IFSC Code : ICICI44354
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr style="padding-top: 5px;">
			<td colspan="2" style="background-color: #77A9BD;">
				
			</td>
		</tr>
	</table>
   <!--  (c) - page <pdf:pagenumber>
        of <pdf:pagecount> -->

    </div>

    <!-- HTML Content -->
    <div>
    <table border="1">
		<tr>
			<td align="center" style="padding-top: 5px;">
				<h2>Tax Invoice</h2>
			</td>
		</tr>
		<tr>
			<td style="padding-top: 20pt;padding-bottom: 10pt;">
				<table>
					<tr>
						<td style="padding-left: 5px; padding-top: 5px;  font-size: 11px;">
							Buyer : Prime Enterprises <br><br>

							VAT TIN No : 27800398566v
						</td>
						<td style="width:230px;padding-top: 5px; font-size: 11px;">
							Invoice No : 960<br>
							Invoice Date : 25-11-2015 <br>
							PO. No. : 
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td style="width: 800px; height: 800px;">
				<table border="1">
					<tr style="padding-top: 5px;">
						<th style="width: 50px;">
							Sr	
						</th>
						<th style="width: 480px;">
							Description of Goods	
						</th>
						<th style="width: 50px;">
							Qty
						</th>
						<th style="width: 50px;">
							Per	
						</th>
						<th style="width: 80px;">
							Rate	
						</th>
						<th style="width: 100px;">
							Amount	
						</th>
					</tr>

					<tr style="padding-top: 5px;">
						<td style="text-align: center;">1</td>
						<td style="text-align: left;padding-left: 5px;">MS Bar</td>
						<td style="text-align: center;">112</td>
						<td style="text-align: center;">KG</td>
						<td style="text-align: right;padding-right: 5px;">33.00</td>
						<td style="text-align: right;padding-right: 5px;">3222.40</td>
					</tr>
					<tr style="padding-top: 5px;">
						<td style="text-align: center;">1</td>
						<td style="text-align: left;padding-left: 5px;">MS Bar</td>
						<td style="text-align: center;">112</td>
						<td style="text-align: center;">KG</td>
						<td style="text-align: right;padding-right: 5px;">33.00</td>
						<td style="text-align: right;padding-right: 5px;">3222.40</td>
					</tr>
					<tr style="padding-top: 5px;">
						<td style="text-align: center;">1</td>
						<td style="text-align: left;padding-left: 5px;">MS Bar</td>
						<td style="text-align: center;">112</td>
						<td style="text-align: center;">KG</td>
						<td style="text-align: right;padding-right: 5px;">33.00</td>
						<td style="text-align: right;padding-right: 5px;">3222.40</td>
					</tr>
					<tr style="padding-top: 5px;">
						<td style="text-align: center;">1</td>
						<td style="text-align: left;padding-left: 5px;">MS Bar</td>
						<td style="text-align: center;">112</td>
						<td style="text-align: center;">KG</td>
						<td style="text-align: right;padding-right: 5px;">33.00</td>
						<td style="text-align: right;padding-right: 5px;">3222.40</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	</div>
</body>
</html>
