{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>Login</title>

	 <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body style="background-image: url('/static/images/shopping.jpg');">

	<div class="container" style="background-image: url('paper.gif');">
	<br>
	{% if messages %}
              {% for message in messages %}             
                <div class='alert alert-{% if message.tags == "success" %}success{% else %}danger{% endif %} text-center alert-dismissible'>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                </div>          
              {% endfor %}
        {% endif %}
	 
	<div class="hidden-xs">
		<br><br><br><br><br>
	</div>
		<div class="row">
			<div class="col-lg-3"></div>
			<div class="col-lg-5 well" style="opacity: 0.8;background: rgb(15, 22, 74) none repeat scroll 0% 0%;color: white;">
				<h3 align="center" style="font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif; padding-bottom: 20px;">Login</h3>
				
				<form action="" method="post">{% csrf_token %}
				<h4>Username</h4> <input type="text" class="form-control" name="username">
				
				<h4>Password</h4> <input type="password" class="form-control" name="password">
				<br>
				<br>
				<button type="submit" class="btn btn-primary btn-block btn-lg">Login</button>
				</form>

			</div>
		</div>
	</div>

	<!-- jQuery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>